header {
    width: 100%;
}

header .navigation {
    background-color: var(--page-background);
    transition: 0.5s background-color;
}

header .navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navigation nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .navigation nav ul li a {
    display: inline-block;
    max-width: 140px;
    padding: 8px 24px;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: var(--text-line-height);
}

header .navigation nav ul li a img {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}

header .switcher {
    align-self: center;
}

header .theme-switcher {
    padding: 10px;
    background: #222;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {

    /* Styles for mobile devices in landscape orientation */

    header .navigation {
        position: fixed;
        top: 0;
        left: 0;
        margin-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid #222;
    }

    header .navigation nav ul li {
        min-width: 85px;
    }

    header .navigation nav ul li a {
        padding: 4px 6px;
        font-size: 0.8rem;
        text-align: center;
        min-width: 85px;
    }

    header .theme-switcher {
        padding: 4px;
        max-width: 30px;
        max-height: 23px;
    }

}

main {
    margin-top: 60px;
}

#introduction .container {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

#introduction #intro {
    width: 70%;
    flex-grow: 1;
}

#introduction #intro h1 {
    /* font-size: 1.5rem; */
}

#introduction #thumbnail {
    width: 30%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#introduction p {
    font-size: 1.2rem;
    font-weight: 600;
}

#introduction img {
    width: 100%;
    max-width: 430px;
    min-width: 150px;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {

    main {
        margin-top: 80px;
    }

    #introduction .container {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 20px;
    }

    #introduction .container div {
        width: 100% !important;
    }

    #introduction img {
        width: 100%;
        max-width: 150px;
    }

    #introduction #thumbnail {
        justify-content: flex-start;
        order: 1;
    }

    #introduction #intro {
        order: 2;
    }

    #introduction #intro p {
        font-size: 1rem;
    }

}

div#roadmaps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.roadmap {
    display: flex;
    gap: 10px;
    width: 40%;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    padding: 14px;
    flex-grow: 1;
}

.roadmap .roadmap-thumbnail img {
    width: 50px;
}

.roadmap h3 {
    font-size: calc(var(--heading-font-h3) - 0.3)
}

@media only screen and (max-width: 767px) {

    div#roadmaps {
        /* flex-direction: column; */
        align-items: center;
        gap: 5px !important;
    }

    .roadmap {
        width: 40%;
        padding: 0;
        border: none;
    }

    .roadmap .roadmap-thumbnail img {
        max-width: 30px;
    }

    .roadmap h3 {
        font-size: calc(var(--heading-font-h3) - 0.5)
    }
}

@media only screen and (max-width: 480px) {
    div#roadmaps {
        flex-direction: column;
        align-items: center;
    }

    .roadmap {
        width: 100%;
    }
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.project {
    padding: 20px;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    width: 30%;
    flex-grow: 1;

}

.project h4 {
    font-size: calc(var(--heading-font-h4) - 0.5 !important)
}

.project img {
    border-radius: 4px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.project p {
    font-size: 14px;
}

.project a {
    background: #272626;
    border: 1px solid #3e3e3e;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.3s all;
    display: inline-block;
    margin-top: 20px;
}

.project a:hover {
    background: #3e3e3e;
}



@media only screen and (max-width: 767px) {
    .project {
        width: 45%;
        flex-grow: 1;

    }
}

@media only screen and (max-width: 480px) {
    .project {
        width: 100%;
        flex-grow: 1;

    }
}

footer #main-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer #main-footer .contacts,
footer #main-footer .socials {
    width: 40%;
}

footer #main-footer .contacts ul,
footer #main-footer .socials ul {
    display: flex;
    gap: 15px;
    width: 100%;
}

footer #main-footer .contacts ul {
    justify-content: flex-start;
}

footer #main-footer .socials ul {
    justify-content: flex-end;
}

footer #main-footer .socials img {
    width: 20px;
    margin-right: 5px;
}


@media only screen and (max-width: 480px) {
    /* Styles for mobile devices in portrait orientation */
}

@media only screen and (max-width: 767px) {



    /* .projects {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .project img {
        border-radius: 4px;
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    .project a {
        background: #272626;
        border: 1px solid #3e3e3e;
        padding: 5px 8px;
        border-radius: 4px;
        font-size: 14px;
        transition: 0.3s all;
    }

    .project a:hover {
        background: #3e3e3e;
    }

    .project div:nth-child(1),
    .project div:nth-child(2) {
        width: 30%;
    }

    .project div:nth-child(3) {
        width: 100%;
    }

    .project div:nth-child(2) {
        text-align: right;
    } */


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    /* Styles for small desktops and laptops */
}

@media only screen and (min-width: 1367px) and (max-width: 1680px) {
    /* Styles for medium desktops */
}

@media only screen and (min-width: 1681px) {
    /* Styles for large desktops */
}